extends layout.pug


block append content
    ul 
        each item in posts
            li 
                h2
                    a(href= item.url) #{item.title}
                p Created by: #{item.user.username}